body{
  background-image:url("light1.png");
  background-size: cover;
}

#navbar .nav{
  background-color: #34444c;
  padding-top: 25px;
  position: fixed;
  height: 100%;
  border-right: 2px solid #ec9941;
}

#navbar .navbar-max{
  width: 200px;
}

#navbar .navbar-min{
  width: 50px;
}

#navbar a{
  display: block;
  color: gainsboro;
  text-decoration: none;
  margin-left: 15px;
  font-size: 16px;
}

#navbar a:hover, #navbar .icon:hover{
  color: white;
  cursor: pointer;
}

#navbar .icon{
  color: gainsboro;
  margin-right: 15px;
  font-size: 20px;
}

.pageMargin{
  margin-left: 200px;
  padding: 1% 3%;
}

Table{
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

Table>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: white;
}

#customers Table>tbody>tr:nth-child(even)>td:hover, #customers  Table>tbody>tr:hover {
  cursor: pointer;
  background-color: white;
}

Table a{
 color: black;
 text-decoration: none;
}

#addBtn{
  float: right;
  margin: 10px 50px 0 0;
  padding: 5px 30px;
  background-color: #ec9941;
  color: white;
  border: 1px solid #ec9941;
  border-radius: 25px;
}

#addBtn:hover{
  background-color: #e76229;
  border: 1px solid #e76229;
}

@media screen and (max-width: 600px){
  .pageMargin{
    margin-left: 50px;
  }
}

.detailsModal span{
  font-weight: bold;
}

#detailModalHeading{
  color: #ec9941;
  font-weight: 600;
  font-size: 25px;
  padding-bottom: 10px;
}

#detailModalSubHeading{
  color: #ec9941;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 0;
}
